################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PvViz/v16
/PvViz/bin/Debug/netcoreapp3.1
/PvViz/obj
